@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700;800&display=swap');


body{
    color: #F5F0F6;
    background: rgb(66, 81, 148);
    font-family: 'Oswald', sans-serif;
}

/* NAVBAR */
.navb, .title-section{
    position: absolute;
    z-index: 1;
    left: 25%;
    right: 25%;
}


a {
    text-decoration: none;
    color: #F5F0F6;
    z-index: 999;
}

a:hover{
    color: #9CA1C5;
}

/* TITLE SECTION */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}
.title-line{
    height:6px;
    width: 450px;
    background: linear-gradient(to right, rgba(245,250,246,0), rgba(240,250,246,1), rgba(245,250,246,0));
    display: inline-block;
    justify-content: center;
} 



.carousel .carousel-item {
    height: 100vh;
  }
  
  .carousel-item img {
      object-fit: cover;
      position: absolute;
      height: 100vh;
  }

  
.carousel-caption {
    font-size: 20px;
    color:#F5F0F6;
    background: rgba(31, 31, 31, 0.35);
    padding: 3px 10px;
    border-radius: 10px;
    width: max-content;
}

